
SpawnMenuPanel {
    border-radius: 16px;
    padding: 15px;
    pointer-events: all;
    flex-direction: column;
    transition: all 0.25s ease;
    opacity: 0;

    &.visible {
        opacity: 1;
    }


    button {
        pointer-events: all;
        border-radius: 16px;
        background-image: linear-gradient( to top, rgba( #0094ff, 1 ), rgba( #005b9d, 1 ) );
        width: 100%;
        height: 80px;
        align-content: center;
        text-align: center;
        margin-bottom: 15px;

        &:hover {
            background-image: linear-gradient( to top, rgba( #00ffff, 1 ), rgba( #005b9d, 1 ) );
        }

        &:active {
            background-image: linear-gradient( to top, rgba( white, 1 ), rgba( #005b9d, 1 ) );
        }

        text {
            width: 100%;
            height: 100%;
            font-family: Poppins;
            color: white;
            font-size: 60px;
        }
    }
}
